body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #1c449c;
    text-align: center;
    padding: 1rem;
}

header h1 {
    margin: 0;
    padding: 0;
    color: #fff;
}

header h2 {
    color: #fff;
}

.profile-picture {
    float: right;
    max-width: 200px;
    margin: 0 0 2rem 2em;
    border-radius: 50%;
}

main {
    padding: 2rem;
    background-color: #e8f1f9;
}

section {
    margin-bottom: 1.5rem;
}

section:nth-child(even) {
    background-color: #d4e4f3;
}

section:nth-child(odd) {
    background-color: #e8f1f9;
}

#education {
    margin-top: 12.5rem;
}

h3 {
    font-size: 1.25rem;
    border-bottom: 2px solid #1c449c;
    padding-bottom: 0.3rem;
    margin-left: 1rem;
}

h4 {
    font-size: 1.15rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-left: 2rem;
}

li {
    padding: 0.5rem 0;
}

li::before {
    color: #1c449c;
    font-weight: bold;
    display: inline-block;
    width: 1.5rem;
    margin-left: -1.5rem;
}

.language-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 3rem;
}

#personal-interests {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.section-title {
    width: 100%;
}

.section-title h3 {
    border-bottom: 2px solid #1c449c;
    padding-bottom: 0.3rem;
    margin: 0;
    margin-left: 1rem;
}

.language-title {
    margin-left: 0;
}

.travel-photos {
    display: flex;
    width: 1000px;
    height: 800px;
    margin: 0 auto;
}

.travel-photos img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .5;
    transition: .5s ease;
}

.travel-photos img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
