body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #000000;
    text-align: center;
    padding: 1rem;
}

header h1 {
    margin: 0;
    padding: 0;
    color: #fff;
}

header h2 {
    color: #fff;
}

.profile-picture {
    float: right;
    max-width: 200px;
    margin: 0 0 2rem 2em;
    border-radius: 50%;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 1.5rem;
}

#education {
    margin-top: 11rem;
}

h3 {
    border-bottom: 2px solid #000000;
    padding-bottom: 0.3rem;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-left: 2rem;
}

li {
    padding: 0.5rem 0;
}

li::before {
    color: #2F4F4F;
    font-weight: bold;
    display: inline-block;
    width: 1.5rem;
    margin-left: -1.5rem;
}

.language-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.travel-photos {
    display: flex;
    width: 800px;
    height: 800px;
}

.travel-photos img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .5;
    transition: .5s ease;
}

.travel-photos img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
